# Example SQL Queries

This notebook will:
- <a href='#load'>load the csv files into pandas dataframes</a>
- <a href='#view'>view the first few rows of each dataframe</a> and column names and data types
- <a href='#run'>run the example sql queries</a> from https://simulacrum.healthdatainsight.org.uk/query-examples/ then do the same thing but in native pandas commands

<a id='load'></a>

## Load csv files

In [1]:
import pandas as pd
import numpy as np
import load

In [2]:
SIM_AV_PATIENT = load.load_table('av_patient')
SIM_AV_TUMOUR = load.load_table('av_tumour')
SIM_SACT_CYCLE = load.load_table('sact_cycle')
SIM_SACT_DRUG_DETAIL = load.load_table('sact_drug_detail')
SIM_SACT_OUTCOME = load.load_table('sact_outcome')
SIM_SACT_PATIENT = load.load_table('sact_patient')
SIM_SACT_REGIMEN = load.load_table('sact_regimen')
SIM_SACT_TUMOUR = load.load_table('sact_tumour')

Alternatively:

In [3]:
tables = load.all_tables()
print(tables.keys())

dict_keys(['av_patient', 'av_tumour', 'sact_cycle', 'sact_drug_detail', 'sact_outcome', 'sact_patient', 'sact_regimen', 'sact_tumour'])

To include human-readable descriptions of all applicable codes, use 'add_descriptions=True' in load.load_table or load.all_tables. Descriptions can also be added later using the add_descriptions or get_descriptions functions from the descriptions module.

<a id='view'></a>

## Show summary of dataframes

In [4]:
def print_df_summary(df):
    print(df.shape[0], 'rows')
    print(df.shape[1], 'columns')
    print()
    print(df.dtypes)
    return df.head()

In [5]:
print_df_summary(SIM_AV_PATIENT)

1322100 rows
12 columns

PATIENTID                             int64
SEX                                category
LINKNUMBER                            int64
ETHNICITY                          category
DEATHCAUSECODE_1A                    object
DEATHCAUSECODE_1B                    object
DEATHCAUSECODE_1C                    object
DEATHCAUSECODE_2                     object
DEATHCAUSECODE_UNDERLYING            object
DEATHLOCATIONCODE                  category
NEWVITALSTATUS                     category
VITALSTATUSDATE              datetime64[ns]
dtype: object

,PATIENTID,SEX,LINKNUMBER,ETHNICITY,DEATHCAUSECODE_1A,DEATHCAUSECODE_1B,DEATHCAUSECODE_1C,DEATHCAUSECODE_2,DEATHCAUSECODE_UNDERLYING,DEATHLOCATIONCODE,NEWVITALSTATUS,VITALSTATUSDATE
0,10000001,2,810000001,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2017-01-17
1,10000002,2,810000002,Z,NaN,NaN,NaN,NaN,NaN,NaN,A,2017-01-14
2,10000003,1,810000003,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2017-01-17
3,10000004,1,810000004,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2017-01-13
4,10000005,2,810000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2017-01-16

In [6]:
print_df_summary(SIM_AV_TUMOUR)

1402817 rows
34 columns

TUMOURID                             int64
PATIENTID                            int64
DIAGNOSISDATEBEST           datetime64[ns]
SITE_ICD10_O2                     category
SITE_ICD10_O2_3CHAR               category
MORPH_ICD10_O2                    category
BEHAVIOUR_ICD10_O2                category
T_BEST                            category
N_BEST                            category
M_BEST                            category
STAGE_BEST                        category
STAGE_BEST_SYSTEM                 category
GRADE                             category
AGE                                float64
SEX                               category
CREG_CODE                         category
LINKNUMBER                           int64
SCREENINGSTATUSFULL_CODE          category
ER_STATUS                         category
ER_SCORE                          category
PR_STATUS                         category
PR_SCORE                          category
HER2_STATUS                       category
CANCERCAREPLANINTENT              category
PERFORMANCESTATUS                 category
CNS                               category
ACE27                             category
GLEASON_PRIMARY                   category
GLEASON_SECONDARY                 category
GLEASON_TERTIARY                  category
GLEASON_COMBINED                  category
DATE_FIRST_SURGERY          datetime64[ns]
LATERALITY                        category
QUINTILE_2015                     category
dtype: object

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,...,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,10000001,10000001,2015-11-06,C443,C44,8090,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-06,L,3
1,10000002,10000002,2015-10-06,C449,C44,8090,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-06,8,2
2,10000003,10000003,2013-01-30,C449,C44,8090,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,8,1 - least deprived
3,10000004,10000004,2015-09-15,C449,C44,8090,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,8,2
4,10000005,10000005,2014-11-01,C449,C44,8090,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-11-01,8,2

In [7]:
print_df_summary(SIM_SACT_CYCLE)

1462099 rows
8 columns

MERGED_CYCLE_ID                        int64
MERGED_REGIMEN_ID                      int64
CYCLE_NUMBER                           int64
START_DATE_OF_CYCLE           datetime64[ns]
OPCS_PROCUREMENT_CODE               category
PERF_STATUS_START_OF_CYCLE          category
MERGED_PATIENT_ID                      int64
MERGED_TUMOUR_ID                       int64
dtype: object

,MERGED_CYCLE_ID,MERGED_REGIMEN_ID,CYCLE_NUMBER,START_DATE_OF_CYCLE,OPCS_PROCUREMENT_CODE,PERF_STATUS_START_OF_CYCLE,MERGED_PATIENT_ID,MERGED_TUMOUR_ID
0,10000001,10000001,4,2015-06-07,NaN,NaN,10000235,10000001
1,10000002,10000002,2,2016-08-07,NaN,00,10000315,10000002
2,10000003,10000003,3,NaT,X715,NaN,10000337,10000003
3,10000004,10000004,2,2015-03-23,X712,0,10000480,10000004
4,10000005,10000005,1,2013-03-11,X711,NaN,10000533,10000005

In [8]:
print_df_summary(SIM_SACT_DRUG_DETAIL)

3544584 rows
11 columns

MERGED_DRUG_DETAIL_ID                      int64
MERGED_CYCLE_ID                            int64
ORG_CODE_OF_DRUG_PROVIDER               category
ACTUAL_DOSE_PER_ADMINISTRATION           float64
OPCS_DELIVERY_CODE                      category
ADMINISTRATION_ROUTE                    category
ADMINISTRATION_DATE               datetime64[ns]
DRUG_GROUP                              category
MERGED_PATIENT_ID                          int64
MERGED_TUMOUR_ID                           int64
MERGED_REGIMEN_ID                          int64
dtype: object

,MERGED_DRUG_DETAIL_ID,MERGED_CYCLE_ID,ORG_CODE_OF_DRUG_PROVIDER,ACTUAL_DOSE_PER_ADMINISTRATION,OPCS_DELIVERY_CODE,ADMINISTRATION_ROUTE,ADMINISTRATION_DATE,DRUG_GROUP,MERGED_PATIENT_ID,MERGED_TUMOUR_ID,MERGED_REGIMEN_ID
0,10000001,10000001,EKD02,10.0,NaN,1,2015-06-07,STEROID,10000235,10000001,10000001
1,10000002,10000002,EGU02,30.0,NaN,2,NaT,NOT CHEMO,10000315,10000002,10000002
2,10000003,10000003,EGU05,1000.0,NaN,1,NaT,RITUXIMAB,10000337,10000003,10000003
3,10000004,10000004,EXO,8.0,X723,2,2015-03-23,NOT CHEMO,10000480,10000004,10000004
4,10000005,10000005,ETD02,1000.0,NaN,2,2013-03-11,NOT CHEMO,10000533,10000005,10000005

In [9]:
print_df_summary(SIM_SACT_OUTCOME)

351668 rows
9 columns

MERGED_OUTCOME_ID                int64
MERGED_REGIMEN_ID                int64
DATE_OF_FINAL_TREATMENT         object
REGIMEN_MOD_DOSE_REDUCTION    category
REGIMEN_MOD_TIME_DELAY        category
REGIMEN_MOD_STOPPED_EARLY     category
REGIMEN_OUTCOME_SUMMARY       category
MERGED_PATIENT_ID                int64
MERGED_TUMOUR_ID                 int64
dtype: object

,MERGED_OUTCOME_ID,MERGED_REGIMEN_ID,DATE_OF_FINAL_TREATMENT,REGIMEN_MOD_DOSE_REDUCTION,REGIMEN_MOD_TIME_DELAY,REGIMEN_MOD_STOPPED_EARLY,REGIMEN_OUTCOME_SUMMARY,MERGED_PATIENT_ID,MERGED_TUMOUR_ID
0,10000001,10000003,2014-01-09,N,N,N,NaN,10000337,10000003
1,10000002,10000005,nan,Y,Y,N,NaN,10000533,10000005
2,10000003,10000006,nan,N,Y,N,NaN,10000697,10000006
3,10000004,10000007,nan,Y,NaN,N,NaN,10000697,10000006
4,10000005,10000008,2012-12-07,NaN,NaN,NaN,NaN,10000773,10009036

In [10]:
print_df_summary(SIM_SACT_PATIENT)

245938 rows
2 columns

MERGED_PATIENT_ID    int64
LINK_NUMBER          int64
dtype: object

   MERGED_PATIENT_ID  LINK_NUMBER
0           10000087    810000087
1           10000235    810000235
2           10000283    810000283
3           10000315    810000315
4           10000337    810000337

In [11]:
print_df_summary(SIM_SACT_REGIMEN)

471919 rows
12 columns

MERGED_REGIMEN_ID                      int64
MERGED_TUMOUR_ID                       int64
HEIGHT_AT_START_OF_REGIMEN           float64
WEIGHT_AT_START_OF_REGIMEN           float64
INTENT_OF_TREATMENT                 category
DATE_DECISION_TO_TREAT        datetime64[ns]
START_DATE_OF_REGIMEN         datetime64[ns]
MAPPED_REGIMEN                        object
CLINICAL_TRIAL                      category
CHEMO_RADIATION                     category
MERGED_PATIENT_ID                      int64
BENCHMARK_GROUP                     category
dtype: object

,MERGED_REGIMEN_ID,MERGED_TUMOUR_ID,HEIGHT_AT_START_OF_REGIMEN,WEIGHT_AT_START_OF_REGIMEN,INTENT_OF_TREATMENT,DATE_DECISION_TO_TREAT,START_DATE_OF_REGIMEN,MAPPED_REGIMEN,CLINICAL_TRIAL,CHEMO_RADIATION,MERGED_PATIENT_ID,BENCHMARK_GROUP
0,10000001,10000001,-1.0,NaN,N,2015-03-08,2015-03-08,DEGARELIX,NaN,N,10000235,HORMONES
1,10000002,10000002,NaN,NaN,P,2016-07-09,2016-07-10,BICALUTAMIDE + GOSERELIN,NaN,N,10000315,HORMONES
2,10000003,10000003,NaN,NaN,P,2014-01-09,2014-01-09,EXEMESTANE,02,N,10000337,HORMONES
3,10000004,10000004,NaN,NaN,NaN,2015-03-17,2015-03-23,Rituximab,N,NaN,10000480,RITUXIMAB
4,10000005,10000005,0.0,NaN,C,2012-12-30,2013-03-11,Hydroxycarbamide,N,N,10000533,HYDROXYCARBAMIDE

In [12]:
print_df_summary(SIM_SACT_TUMOUR)

299727 rows
5 columns

MERGED_TUMOUR_ID                 int64
MERGED_PATIENT_ID                int64
CONSULTANT_SPECIALITY_CODE    category
PRIMARY_DIAGNOSIS             category
MORPHOLOGY_CLEAN              category
dtype: object

,MERGED_TUMOUR_ID,MERGED_PATIENT_ID,CONSULTANT_SPECIALITY_CODE,PRIMARY_DIAGNOSIS,MORPHOLOGY_CLEAN
0,10000001,10000235,101,C61,81403
1,10000002,10000315,101,C679,81403
2,10000003,10000337,100,C500,NaN
3,10000004,10000480,303,C829,NaN
4,10000005,10000533,823,D473,NaN

<a id='run'></a>

## Run example sql queries

Examples from https://simulacrum.healthdatainsight.org.uk/query-examples/

In [13]:
from pandasql import PandaSQL
pdsql = PandaSQL()

__Example 1: Getting patients with cancers of the breast__  
For this query we can simply query the SIM_AV_TUMOUR table, for convenience the patientid has been included in this table to facilitate counts of distinct patients.

In [47]:
query = """
SELECT COUNT(DISTINCT PATIENTID) FROM SIM_AV_TUMOUR
WHERE SITE_ICD10_O2_3CHAR='C50'
"""
print(pdsql(query))

   COUNT(DISTINCT PATIENTID)
0                     130547

In [28]:
SIM_AV_TUMOUR.query("SITE_ICD10_O2_3CHAR == 'C50'").PATIENTID.count()

133907

In [15]:
site_C50 = SIM_AV_TUMOUR[SIM_AV_TUMOUR.SITE_ICD10_O2_3CHAR=='C50']
distinct_patientid = site_C50.PATIENTID.unique()
result = distinct_patientid.size
result

130547

This query gives us all patients who had tumours arising in the anatomical site of breast as denoted by the high-level ICD code C50.x.

__Example 2: Getting patients with a certain morphology__  
The SIM_AV_TUMOUR table also contains morphology codes so we can further classify breast cancers into distinct histological types.  For example:

In [16]:
query = """
SELECT COUNT(DISTINCT PATIENTID) FROM SIM_AV_TUMOUR
WHERE SITE_ICD10_O2_3CHAR='C50' 
AND MORPH_ICD10_O2='8500' 
AND BEHAVIOUR_ICD10_O2='3' 
"""
print(pdsql(query))

   COUNT(DISTINCT PATIENTID)
0                      97326

In [32]:
SIM_AV_TUMOUR.query("SITE_ICD10_O2_3CHAR == 'C50' \
                    and MORPH_ICD10_O2 == '8500' \
                    and BEHAVIOUR_ICD10_O2 == '3'").PATIENTID.nunique()

97326

The above code will count all patients with breast cancers who have a ductal carcinoma of unspecified type; which comprise the largest group of invasive breast cancers.  For looking up the right morphology codes for your question please see http://codes.iarc.fr/codegroup/2.

If the codes are not known in advance, you can use the data to see which ones are used the most.tFor example:

In [18]:
query = """
SELECT COUNT(DISTINCT PATIENTID) as N, MORPH_ICD10_O2|| '/' || BEHAVIOUR_ICD10_O2 as morphology
FROM SIM_AV_TUMOUR
WHERE SITE_ICD10_O2 LIKE 'C50%'
GROUP BY morphology
ORDER BY N DESC
"""
result = pdsql(query)
result.head()

       N morphology
0  97207     8500/3
1  16179     8520/3
2   2847     8480/3
3   2723     8522/3
4   2112     8140/3

In [35]:
SIM_AV_TUMOUR['morphology'] = (SIM_AV_TUMOUR.MORPH_ICD10_O2.astype(str) 
                               + '/' + SIM_AV_TUMOUR.BEHAVIOUR_ICD10_O2.astype(str))
site_like_C50 = SIM_AV_TUMOUR[
    SIM_AV_TUMOUR.SITE_ICD10_O2.astype(str).str.startswith('C50', na=False)]
grouped = site_like_C50.groupby('morphology')
count_patientid = grouped.PATIENTID.nunique()
result = count_patientid.sort_values(ascending=False)
result.head()

morphology
8500/3    98297
8520/3    16275
8480/3     2849
8522/3     2725
8140/3     2113
Name: TUMOURID, dtype: int64

__Example 3: Getting patients who have received systemic therapy__  
The SIM_SACTâ€¦ tables contain data on patients who have received systemic anti-cancer therapy.  If you are interested in broad treatment patterns and do not need morphology or other data items contained in the SIM_AVâ€¦ registry tables then it is fairly straightforward to find treatment patterns for a particular tumor site.  Top level regimens are given in the SIM_SACT_REGIMEN table, and a patient could have multiple cycles of the same regimen and details of these are given in the SIM_SACT_CYCLE table.  The primary diagnosis of the tumour if given in the SIM_SACT_TUMOUR table and this can be linked to the above to get top regimens for a given tumour site.  

 For example to look at top 10 regimens for patients who have been diagnosed with lung cancers:

In [20]:
query = """
SELECT R.BENCHMARK_GROUP, COUNT(DISTINCT R.MERGED_PATIENT_ID) as N
FROM SIM_SACT_REGIMEN R INNER JOIN SIM_SACT_TUMOUR T ON R.MERGED_TUMOUR_ID=T.MERGED_TUMOUR_ID
WHERE T.PRIMARY_DIAGNOSIS LIKE 'C34%'
GROUP BY R.BENCHMARK_GROUP
ORDER BY N DESC
LIMIT 10
"""
print(pdsql(query))

             BENCHMARK_GROUP     N
0    CARBOPLATIN + ETOPOSIDE  5682
1                   GEMCARBO  3992
2   CARBOPLATIN + PEMETREXED  3505
3     CISPLATIN + PEMETREXED  3244
4    CISPLATIN + VINORELBINE  2636
5  CARBOPLATIN + VINORELBINE  2141
6                  DOCETAXEL  1449
7                 PEMETREXED  1423
8                  ERLOTINIB  1323
9    CISPLATIN + GEMCITABINE  1139

In [21]:
joined = pd.merge(SIM_SACT_REGIMEN, SIM_SACT_TUMOUR, how='inner',
                 on='MERGED_TUMOUR_ID')
primary_diagnosis_C34 = joined[joined['PRIMARY_DIAGNOSIS'].astype(str).str.startswith('C34', na=False)]
grouped = primary_diagnosis_C34.groupby('BENCHMARK_GROUP')
count_patientid = grouped.MERGED_PATIENT_ID_x.nunique()
result = count_patientid.sort_values(ascending=False)[:10]
result

BENCHMARK_GROUP
CARBOPLATIN + ETOPOSIDE      5673
GEMCARBO                     3986
CARBOPLATIN + PEMETREXED     3499
CISPLATIN + PEMETREXED       3242
CISPLATIN + VINORELBINE      2635
CARBOPLATIN + VINORELBINE    2137
DOCETAXEL                    1449
PEMETREXED                   1423
ERLOTINIB                    1323
CISPLATIN + GEMCITABINE      1137
Name: MERGED_PATIENT_ID_x, dtype: int64

BENCHMARK_GROUP is the field which contains the regimen name used in most analyses.  The SIM_SACT_REGIMEN tables also contains details of height and weight at start of regimen, treatment intent, if the regimen was part of chemoradiation and if the regimen was part of a clinical trial.  Note: The numbers above represent all lung cancer patients of all stages so regimens included could also be used for neo-adjuvant or adjuvant treatment as part of other treatment modalities.

__Linking SIM_AV and SIM_SACT datasets__  
If we do want to look at regimens for specific tumor morphologies or for specific stages we need to link the SIM_SACT_PATIENT table to the SIM_AV_PATIENT table via the linknumber field.  This is the only way to link the simulated SACT tables with the simulated registry tables.  NOTE: â€˜tumouridâ€™ in the SIM_AV_TUMOUR table and â€˜merged_tumour_idâ€™ in the SIM_SACT_TUMOUR table do not match and should not be used to link these two datasets together.  They are different ids in the real CAS data also.  

Here is an example if we want to count all urothelial cancer patients who have received systemic therapy (i.e. have at least 1 record in SACT):

In [22]:
query = """
SELECT COUNT(DISTINCT AVP.PATIENTID) AS NUM_PATIENTS
FROM SIM_AV_TUMOUR AVT JOIN SIM_AV_PATIENT AVP ON AVT.PATIENTID=AVP.PATIENTID
WHERE AVP.LINKNUMBER IN
(SELECT DISTINCT LINK_NUMBER FROM SIM_SACT_PATIENT)
AND AVT.SITE_ICD10_O2_3CHAR IN ('C64','C65','C66','C67','C68')
AND AVT.MORPH_ICD10_O2='8120'
AND AVT.BEHAVIOUR_ICD10_O2='3'
"""
print(pdsql(query))

   NUM_PATIENTS
0          3792

In [23]:
joined = pd.merge(SIM_AV_TUMOUR, SIM_AV_PATIENT, on='PATIENTID')
linknumber = joined[joined.LINKNUMBER_y.isin(SIM_SACT_PATIENT.LINK_NUMBER.unique())]
site = linknumber[linknumber.SITE_ICD10_O2_3CHAR.isin(['C64','C65','C66','C67','C68'])]
morph = site[site.MORPH_ICD10_O2=='8120']
behaviour = morph[morph.BEHAVIOUR_ICD10_O2=='3']
result = behaviour.PATIENTID.nunique()
result

3792

Note: Here we are specifying a morphology code of â€˜8120/3â€™ for urothelial carcinoma and the multiple anatomical sites where it arises in the body (C64-C68).  This count can give an indication as to the number of patients with the specific histology etc. that have had systemic anti-cancer therapy.  The actual number of patients will most likely be higher in the real CAS data.